<li id="post-<%= i._id %>">
    <p>
        <% if((locals.user) && (locals.user.id == i.user.id)) { %>
            
            <small>
                <a class="delete-post-btn" href="/posts/destroy/<%= i.id %>">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </small>

        <% } %>
        <%= i.content %>

        <br>
        <small>
            <%= i.user.name %>
        </small>

        <br>

        <!-- display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->

        <small>
            <% if(locals.user) { %>
                <a class="toggle-like-btn" data-likes="<%= i.likes.length %>" href="/likes/toggle/?id=<%= i._id %>&type=Post">

                    <%= i.likes.length %> Likes
                </a>
            <% } 
            
            else {%>
                <%= i.likes.length %> Likes
            <% } %>
        </small>
    </p>

    <div id="post-comments">
        <% if(locals.user) { %> 
            
            <form id="post-<%= i._id %>-comments-form" action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type some Comments here......" required>
                <input type="hidden" name="post" value="<%= i._id %>">
                <input type="submit" value="Add Comments">
            </form>

        <% } %>

        <div id="post-comments-list">
            <ul id="post-comments-<%= i._id %>">
                <% for(comment of i.comments) { %>
                    <%- include('_comment') -%>
                <% } %>
            </ul>

        </div>

    </div>
</li>